<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>
<nav>
    <span>
        <a href="?lang=en&viewName=${viewName}" style="text-decoration: none">
<%--            <span><fmt:message key="links.lang.en"/></span>--%>
            <img src="http://2d.by/wallpapers/f/flag_velikobritanii.jpg" style="width: 20px; height: 15px">
        </a>
            </span>
    <span>
        <a href="?lang=ru&viewName=${viewName}" style="text-decoration: none">
             <img src="https://www.roi.ru/tmp/attachments/593855/eto-nyneshnii-flag-rossiiskoi-federatcii1514276527.jpg" style="width: 20px; height: 15px">
<%--            <span><fmt:message key="links.lang.ru"/></span>--%>
        </a>
    </span>
</nav>
